<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Questionario
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Indietro</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content> 

  <ion-slides #signupSlider pager>
    
    <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">compilare tutti i campi accuratamente</p>
      <ion-card>
        <ion-card-header>Anagrafica</ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <form [formGroup]="slideOneForm">

              <ion-item>
                <ion-label floating>Denominazione</ion-label>
                <ion-input formControlName="denominazione" type="text" [class.invalid]="!slideOneForm.controls.denominazione.valid && (slideOneForm.controls.denominazione.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.denominazione.valid  && (slideOneForm.controls.denominazione.dirty || submitAttempt)">
                    <p>inserire una denominazione valida.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input formControlName="nome" type="text" [class.invalid]="!slideOneForm.controls.nome.valid && (slideOneForm.controls.nome.dirty || submitAttempt)"></ion-input>
              </ion-item>
              
              <ion-item *ngIf="!slideOneForm.controls.nome.valid  && (slideOneForm.controls.nome.dirty || submitAttempt)">
                    <p>inserire un nome valido.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Codice Fiscale</ion-label>
                <ion-input formControlName="codfiscale" type="text" [class.invalid]="!slideOneForm.controls.codfiscale.valid && (slideOneForm.controls.codfiscale.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.codfiscale.valid  && (slideOneForm.controls.codfiscale.dirty || submitAttempt)">
                    <p>inserire un codice fiscale valido.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Partita Iva</ion-label>
                <ion-input formControlName="piva" type="text" [class.invalid]="!slideOneForm.controls.piva.valid && (slideOneForm.controls.piva.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.piva.valid  && (slideOneForm.controls.piva.dirty || submitAttempt)">
                    <p>inserire una partita iva valida.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Tipo Persona</ion-label>
                <ion-input formControlName="persona" type="text" [class.invalid]="!slideOneForm.controls.persona.valid && (slideOneForm.controls.persona.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.persona.valid  && (slideOneForm.controls.persona.dirty || submitAttempt)">
                    <p>inserire F - fisica o G - giuridica.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Data di Nascita</ion-label>
                <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" formControlName="dataNascita">
                </ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label floating>Sesso</ion-label>
                <ion-input formControlName="sesso" type="text" [class.invalid]="!slideOneForm.controls.sesso.valid && (slideOneForm.controls.sesso.dirty || submitAttempt)"></ion-input>
              </ion-item>
              <ion-item *ngIf="!slideOneForm.controls.sesso.valid  && (slideOneForm.controls.sesso.dirty || submitAttempt)">
                    <p>inserire M - maschio o F - femmina.</p>
              </ion-item>

            </form>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Preferiti</ion-card-header>
        <ion-card-content>
          <ion-list>
            <form [formGroup]="slideOneForm">

              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-4>
                    <ion-label floating>Telefono</ion-label>
                    <ion-input type="tel" formControlName="telefono"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-4>
                    <ion-label floating>Fax</ion-label>
                    <ion-input type="tel" formControlName="fax"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-4>
                    <ion-label floating>Cellulare</ion-label>
                    <ion-input type="tel" formControlName="cellulare"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Mail Alternativa</ion-label>
                <ion-input formControlName="altMail" type="email"></ion-input>
            </ion-item>
            </form>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>Indirizzo principale</ion-card-header>
        <ion-card-content>
        <ion-list no-lines>

          <form [formGroup]="slideTwoForm">

            <ion-item>
              <ion-label floating>Presso</ion-label>
              <ion-input formControlName="presso" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Indirizzo</ion-label>
              <ion-input formControlName="indirizzo" type="text" [class.invalid]="!slideTwoForm.controls.indirizzo.valid && (slideTwoForm.controls.indirizzo.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideTwoForm.controls.indirizzo.valid  && (slideTwoForm.controls.indirizzo.dirty || submitAttempt)">
                    <p>indirizzo obbligatorio</p>
            </ion-item>
        
              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Comune</ion-label>
                    <ion-input formControlName="comune" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>CAP</ion-label>
                    <ion-input formControlName="cap" type="text"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Localita</ion-label>
                    <ion-input formControlName="localita" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>Provincia</ion-label>
                    <ion-input formControlName="provincia" type="text"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            

            <!--<ion-item>
              <ion-label floating>Privacy</ion-label>
              <ion-select formControlName="privacy" [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)">
                <ion-option value="public" checked="true">Public</ion-option>
                <ion-option value="friends">Friends Only</ion-option>
                <ion-option value="private">Private</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>Bio</ion-label>
              <ion-textarea formControlName="bio"></ion-textarea>
            </ion-item>-->
            
          </form>
        </ion-list>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>Indirizzo di corrispondenza</ion-card-header>
        <ion-card-content>
        <ion-list no-lines>

          <form [formGroup]="slideTwoForm">

            <ion-item>
              <ion-label floating>Presso</ion-label>
              <ion-input formControlName="pressoC" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Indirizzo</ion-label>
              <ion-input formControlName="indirizzoC" type="text" [class.invalid]="!slideTwoForm.controls.indirizzoC.valid && (slideTwoForm.controls.indirizzoC.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideTwoForm.controls.indirizzoC.valid  && (slideTwoForm.controls.indirizzoC.dirty || submitAttempt)">
                    <p>indirizzo obbligatorio</p>
            </ion-item>
        
              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Comune</ion-label>
                    <ion-input formControlName="comuneC" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>CAP</ion-label>
                    <ion-input formControlName="capC" type="text"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Localita</ion-label>
                    <ion-input formControlName="localitaC" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>Provincia</ion-label>
                    <ion-input formControlName="provinciaC" type="text"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            

            <!--<ion-item>
              <ion-label floating>Privacy</ion-label>
              <ion-select formControlName="privacy" [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)">
                <ion-option value="public" checked="true">Public</ion-option>
                <ion-option value="friends">Friends Only</ion-option>
                <ion-option value="private">Private</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>Bio</ion-label>
              <ion-textarea formControlName="bio"></ion-textarea>
            </ion-item>-->
            
          </form>
        </ion-list>
        </ion-card-content>
      </ion-card>

      <button ion-button full color="primary" (click)="save()">Create Account!</button>
      
    </ion-slide>
  </ion-slides>

</ion-content>
