<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Questionario
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Indietro</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content> 

  <ion-slides #signupSlider pager>
    
    <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">compilare tutti i campi accuratamente</p>
      <ion-card>
        <ion-card-header>Anagrafica</ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <form [formGroup]="slideOneForm">

              <ion-item>
                <ion-label floating>Denominazione</ion-label>
                <ion-input formControlName="denominazione" type="text" [class.invalid]="!slideOneForm.controls.denominazione.valid && (slideOneForm.controls.denominazione.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.denominazione.valid  && (slideOneForm.controls.denominazione.dirty || submitAttempt)">
                    <p>inserire una denominazione valida.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input formControlName="nome" type="text" [class.invalid]="!slideOneForm.controls.nome.valid && (slideOneForm.controls.nome.dirty || submitAttempt)"></ion-input>
              </ion-item>
              
              <ion-item *ngIf="!slideOneForm.controls.nome.valid  && (slideOneForm.controls.nome.dirty || submitAttempt)">
                    <p>inserire un nome valido.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Codice Fiscale</ion-label>
                <ion-input formControlName="codfiscale" type="text" [class.invalid]="!slideOneForm.controls.codfiscale.valid && (slideOneForm.controls.codfiscale.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.codfiscale.valid  && (slideOneForm.controls.codfiscale.dirty || submitAttempt)">
                    <p>inserire un codice fiscale valido.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Partita Iva</ion-label>
                <ion-input formControlName="piva" type="text" [class.invalid]="!slideOneForm.controls.piva.valid && (slideOneForm.controls.piva.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.piva.valid  && (slideOneForm.controls.piva.dirty || submitAttempt)">
                    <p>inserire una partita iva valida.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Tipo Persona</ion-label>
                <ion-input formControlName="persona" type="text" [class.invalid]="!slideOneForm.controls.persona.valid && (slideOneForm.controls.persona.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <ion-item *ngIf="!slideOneForm.controls.persona.valid  && (slideOneForm.controls.persona.dirty || submitAttempt)">
                    <p>inserire F - fisica o G - giuridica.</p>
              </ion-item>

              <ion-item>
                <ion-label floating>Data di Nascita</ion-label>
                <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" formControlName="dataNascita">
                </ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label floating>Sesso</ion-label>
                <ion-input formControlName="sesso" type="text" [class.invalid]="!slideOneForm.controls.sesso.valid && (slideOneForm.controls.sesso.dirty || submitAttempt)"></ion-input>
              </ion-item>
              <ion-item *ngIf="!slideOneForm.controls.sesso.valid  && (slideOneForm.controls.sesso.dirty || submitAttempt)">
                    <p>inserire M - maschio o F - femmina.</p>
              </ion-item>

            </form>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Preferiti</ion-card-header>
        <ion-card-content>
          <ion-list>
            <form [formGroup]="slideOneForm">

              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-4>
                    <ion-label floating>Telefono</ion-label>
                    <ion-input type="tel" formControlName="telefono"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-4>
                    <ion-label floating>Fax</ion-label>
                    <ion-input type="tel" formControlName="fax"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-4>
                    <ion-label floating>Cellulare</ion-label>
                    <ion-input type="tel" formControlName="cellulare"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Mail Alternativa</ion-label>
                <ion-input formControlName="altMail" type="email"></ion-input>
            </ion-item>
            </form>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>Indirizzo principale</ion-card-header>
        <ion-card-content>
        <ion-list no-lines>

          <form [formGroup]="slideTwoForm">

            <ion-item>
              <ion-label floating>Presso</ion-label>
              <ion-input formControlName="presso" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Indirizzo</ion-label>
              <ion-input formControlName="indirizzo" type="text" [class.invalid]="!slideTwoForm.controls.indirizzo.valid && (slideTwoForm.controls.indirizzo.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideTwoForm.controls.indirizzo.valid  && (slideTwoForm.controls.indirizzo.dirty || submitAttempt)">
                    <p>indirizzo obbligatorio</p>
            </ion-item>
        
              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Comune</ion-label>
                    <ion-input formControlName="comune" type="text"></ion-input>
                  </ion-col>
                  <ion-item *ngIf="!slideTwoForm.controls.comune.valid  && (slideTwoForm.controls.comune.dirty || submitAttempt)">
                    <p>Comune obbligatorio</p>
                  </ion-item>
                  <ion-col ion-item col-3>
                   <ion-label floating>CAP</ion-label>
                    <ion-input formControlName="cap" type="text"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Localita</ion-label>
                    <ion-input formControlName="localita" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>Provincia</ion-label>
                    <ion-input formControlName="provincia" type="text"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>           
          </form>
        </ion-list>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>Indirizzo di corrispondenza</ion-card-header>
        <ion-card-content>
        <ion-list no-lines>

          <form [formGroup]="slideTwoForm">

            <ion-item>
              <ion-label floating>Presso</ion-label>
              <ion-input formControlName="pressoC" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Indirizzo</ion-label>
              <ion-input formControlName="indirizzoC" type="text" [class.invalid]="!slideTwoForm.controls.indirizzoC.valid && (slideTwoForm.controls.indirizzoC.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideTwoForm.controls.indirizzoC.valid  && (slideTwoForm.controls.indirizzoC.dirty || submitAttempt)">
                    <p>indirizzo obbligatorio</p>
            </ion-item>
        
              <ion-grid>
                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Comune</ion-label>
                    <ion-input formControlName="comuneC" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>CAP</ion-label>
                    <ion-input formControlName="capC" type="text"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col ion-item col-9>
                   <ion-label floating>Localita</ion-label>
                    <ion-input formControlName="localitaC" type="text"></ion-input>
                  </ion-col>
                  <ion-col ion-item col-3>
                   <ion-label floating>Provincia</ion-label>
                    <ion-input formControlName="provinciaC" type="text"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>            
          </form>
        </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>Consensi</ion-card-header>
        <ion-card-content>
          <form [formGroup]="slideThreeForm">
            <ion-grid>
              <ion-row>
                <ion-col ion-item col-2>
                  <ion-label stacked>Com.preferita</ion-label>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-label stacked>Dati Personali</ion-label>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-label stacked>Dati Sensibili</ion-label>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-label stacked>Prom.Commerciale</ion-label>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-label stacked>Prom.Terzi</ion-label>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-label stacked>Profilazione</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="commPreferita"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="datiPersonali"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="datiSensibili"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="promozioneCommerciale"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="promozioneTerzi"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-2>
                  <ion-checkbox formControlName="profilazione"></ion-checkbox>
                </ion-col>
                <ion-item *ngIf="!slideThreeForm.controls.datiPersonali.valid  && (slideThreeForm.controls.datiPersonali.dirty || submitAttempt)">
                    <p>Il consenso ai dati personali è obbligatorio</p>
                </ion-item>
              </ion-row>
            </ion-grid>
             </form>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Dati Convivente</ion-card-header>
        <ion-card-content>
          <form [formGroup]="slideThreeForm">
            <ion-grid>
              <ion-row>
                <ion-col ion-item col-12>
                   <ion-label floating>Denominazione Convivente</ion-label>
                   <ion-input formControlName="denominazioneConvivente" type="text"></ion-input>
                </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col ion-item col-4>
                   <ion-label floating>Codice Fiscale Convivente</ion-label>
                   <ion-input formControlName="codiceFiscaleConvivente" type="text"></ion-input>
                </ion-col>
                <ion-col ion-item col-4>
                   <ion-label floating>Professione Convivente</ion-label>
                   <ion-input formControlName="professioneConvivente" type="text"></ion-input>
                </ion-col>
                <ion-col ion-item col-4>
                   <ion-label floating>Data Nascita Convivente</ion-label>
                   <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" formControlName="dataNascitaConvivente"></ion-datetime>
                </ion-col>   
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Dati Questionario</ion-card-header>
        <ion-card-content>
          <form [formGroup]="slideThreeForm">
            <ion-grid>
              <ion-row>
                <ion-col ion-item col-4>
                   <ion-label floating>Professione</ion-label>
                   <ion-select formControlName="professione">
                    <ion-option>Impiegato</ion-option>
                    <ion-option>Pensionato</ion-option>
                    <ion-option>Dirigente</ion-option>
                    <ion-option>Studente</ion-option>
                    <ion-option>Non Occupato</ion-option>
                   </ion-select>
                </ion-col>
                <ion-col ion-item col-4>
                  <ion-label>Abitazione di proprietà</ion-label>
                  <ion-checkbox formControlName="abitazioneProprieta"></ion-checkbox>
                </ion-col>
                <ion-col ion-item col-4>
                  <ion-label floating>Tipo Abitazione</ion-label>
                  <ion-select formControlName="tipoAbitazione">
                    <ion-option>Appartamento</ion-option>
                    <ion-option>Casa singola</ion-option>
                    <ion-option>Villa di pregio</ion-option>
                    <ion-option>Bifamiliare</ion-option>
                    <ion-option>Trifamiliare</ion-option>
                    <ion-option>Quadrifamiliare</ion-option>
                    <ion-option>Villetta a schiera</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col ion-item col-2>
                    <ion-label floating>Figli</ion-label>
                    <ion-input type="number" formControlName="numeroFigli"></ion-input>
                </ion-col>
                <ion-col ion-item col-2>
                    <ion-label floating>Animali</ion-label>
                    <ion-input type="number" formControlName="numeroAnimali"></ion-input>
                </ion-col>
                <ion-col ion-item col-2>
                    <ion-label floating>Immobili</ion-label>
                    <ion-input type="number" formControlName="numeroImmobili"></ion-input>
                </ion-col>
                <ion-col ion-item col-2>
                    <ion-label floating>Automobili</ion-label>
                    <ion-input type="number" formControlName="numeroAutomobili"></ion-input>
                </ion-col>
                <ion-col ion-item col-2>
                    <ion-label floating>Natanti</ion-label>
                    <ion-input type="number" formControlName="numeroNatanti"></ion-input>
                </ion-col>
                <ion-col ion-item col-2>
                    <ion-label floating>Polizze conc.</ion-label>
                    <ion-input type="number" formControlName="numeroPolizzeConcorrenza"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
      </ion-card>

      <button ion-button full color="primary" (click)="save()">Salva Questionario!</button>

    </ion-slide>

  </ion-slides>

</ion-content>
